# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.swp

# Environments
.env
.venv/
env/
venv/

# Logs
*.log

# Data and models
data/
models/

# Tests
tests/

# Jupyter
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db
